<nav class="bg-white border-gray-900 shadow-sm dark:bg-gray-900 sm:pl-64 fixed z-10 w-full top-0 left-0 right-0"
     th:fragment="user-navbar">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">


        <button
            aria-controls="logo-sidebar"
            class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            data-drawer-target="logo-sidebar"
            data-drawer-toggle="logo-sidebar"
            type="button"
        >
            <span class="sr-only">Open sidebar</span>
            <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                      fill-rule="evenodd"></path>
            </svg>
        </button>

        <!-- Brand logo        -->
        <a class="flex items-center space-x-1 rtl:space-x-revere" th:href="@{'/'}">
            <img alt="contacts Logo" class="h-5 me-1 sm:h-7"
                 th:src="@{'/images/contacts.png'}"/>
            <span
                    class="self-center text-lg font-semibold whitespace-nowrap dark:text-white">Smart Contacts
            </span>
        </a>
        <!-- end of brand logo -->
        <div class="flex gap-2 md:order-2 space-x-2 md:space-x-0 rtl:space-x-reverse">
            <!-- dark light theme button -->
            <button class="px-2 py-1 rounded-lg"
                    id="theme_change_button"
            >
                <i class="fa-solid fa-circle-half-stroke"></i> <span>Light</span>
            </button>
            <a
                    class="hidden md:flex  text-white bg-zinc-700 hover:bg-zinc-950 focus:ring-4 focus:outline-none focus:zinc-950 font-medium rounded-lg text-sm px-4 py-2 text-center dark:text-black dark:bg-neutral-400 dark:hover:bg-neutral-100 dark:focus:ring-neutral-100"
                    th:href="@{'/user/profile'}"
                    type="button"
            >
                <span th:text="${loggedInUser.name}"></span>
            </a>
            <a
                    class="hidden md:flex text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:red-800 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-red-800 dark:hover:bg-red-900 dark:focus:ring-red-900"
                    th:href="@{'/logout'}"
                    type="button"
            >
                Logout
            </a>
            <!-- Icon to open menu on small screen -->
            <button aria-controls="navbar-cta" aria-expanded="false"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    data-collapse-toggle="navbar-cta" type="button">
                <span class="sr-only">Open main menu</span>
                <svg aria-hidden="true" class="w-5 h-5" fill="none"
                     viewBox="0 0 17 14" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1h15M1 7h15M1 13h15" stroke="currentColor" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2"/>
                </svg>
            </button>
        </div>

        <!-- menus -->
        <div class="items-center z-1000 justify-between hidden w-full md:flex md:w-auto md:order-1"
             id="navbar-cta">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a aria-current="page"
                       class="block py-2 px-3 md:p-0 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500"
                       th:href="@{'/home'}">Home</a>
                </li>
<!--                <li>-->
<!--                    <a class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"-->
<!--                       th:href="@{'/about'}">About</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"-->
<!--                       th:href="@{'/services'}">Services</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"-->
<!--                       th:href="@{'/contact'}">Contact</a>-->
<!--                </li>-->
                <li>
                    <a
                            class="md:hidden text-white bg-green-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:blue font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            th:href="@{'/user/profile'}"
                            type="button"
                    >
                        <span th:text="${loggedInUser.name}"></span>
                    </a>
                </li>
                <li>
                    <a
                            class="md:hidden text-white bg-red-700 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:blue font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            th:href="@{'/logout'}"
                            type="button"
                    >
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
